train_controller/database/__pycache__/__init__.cpython-313.pyc
train_controller/database/__pycache__/database.cpython-313.pyc
train_controller/train_controller.db
train_controller/api/__pycache__/train_controller_api.cpython-313.pyc
train_controller/ui/__pycache__/train_controller_hw_ui.cpython-313.pyc
train_controller/ui/__pycache__/train_controller_test_ui.cpython-313.pyc
train_controller/ui/__pycache__/train_controller_sw_ui.cpython-313.pyc
train_controller/data/train_states.json
train_controller/__pycache__/train_controller_hardware.cpython-313.pyc
**/__pycache__/
*.pyc
